name: Build and Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master", "update-dependencies" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Echo
        run: echo "${{ github.workspace }}";

      # Install Hugo (extended) via peaceiris
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.128.2'  # set to the hugo version
          extended: true

      # Build the site
      - name: Build site
        run: hugo --minify

      - name: deploy
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.BLOG_HOST }}
          username: ${{ secrets.BLOG_USER }}
          key: ${{ secrets.BLOG_KEY }}
          source: "public/*"
          target: ${{ secrets.BLOG_PATH }}
          overwrite: true
          strip_components: 1